build:
  stage: build
  image: docker.io/alpine:latest
  id_tokens:
    AWS_OIDC_TOKEN:
      aud: sts.amazonaws.com
  script:
    - apk add --no-cache aws-cli curl go git libc6-compat openssh
    - mkdir -p  ~/.aws ~/.ssh 
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
    - echo "${AWS_OIDC_TOKEN}" > /tmp/web_identity_token
    - echo -e "[default]\nrole_arn=${ROLE_ARN}\nweb_identity_token_file=/tmp/web_identity_token" > ~/.aws/config
    - git remote add github git@github.com:thomasdstewart/tomsweb2.git
    - git push github HEAD:main
    - blowfish_version=$(awk '/blowfish/{print $3}' go.mod)
    - hugo_version=$(curl -s https://raw.githubusercontent.com/nunocoracao/blowfish/refs/tags/${blowfish_version}/config.toml | awk '/max/{print $3}' | xargs)
    - curl -L https://github.com/gohugoio/hugo/releases/download/v${hugo_version}/hugo_extended_withdeploy_${hugo_version}_linux-amd64.tar.gz | tar xvzf - -C /bin hugo
    - hugo --logLevel debug --minify
    - hugo --logLevel debug deploy --invalidateCDN --maxDeletes -1
  cache:
    key: resources
    paths:
      - resources
