#stages:
#- test
#- build
#- deploy

build:
  stage: build
  image: docker.io/alpine:latest
  id_tokens:
    AWS_OIDC_TOKEN:
      aud: sts.amazonaws.com
  before_script:
    - apk add --no-cache aws-cli curl go git openssh 
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
    - ssh-add -l
    - mkdir -p ~/.ssh
    - ssh-keyscan github.com gitlab.com >> ~/.ssh/known_hosts
    - mkdir -p ~/.aws
    - echo "${AWS_OIDC_TOKEN}" > /tmp/web_identity_token
    - echo -e "[profile devops]\nrole_arn=${ROLE_ARN}\nweb_identity_token_file=/tmp/web_identity_token" > ~/.aws/config
  script:
    - test ! -d tomsweb2.git && git clone --mirror git@gitlab.com:thomasdstewart/tomsweb2.git
    - cd tomsweb2.git && git fetch --all --prune && git push --mirror --prune git@github.com:thomasdstewart/tomsweb2.git
    - v=$(curl -s https://raw.githubusercontent.com/nunocoracao/blowfish/refs/heads/main/config.toml | awk '/max/{print $3}' | xargs); curl -vL https://github.com/gohugoio/hugo/releases/download/v$v/hugo_extended_$v_linux-amd64.tar.gz | tar --extract --verbose --gzip --file - --directory /usr/local/bin hugo
    - hugo version
    - hugo mod graph
    - hugo --logLevel debug --minify
    - aws --profile devops s3 sync public/. s3://$AWS_S3_BUCKET_NAME/
    - aws --profile devops cloudfront create-invalidation --distribution-id=$AWS_CLOUDFRONT_DISTRIBUTION_ID --paths '/*'
  cache:
    key: tomsweb2
    paths:
      - tomsweb2.git

