include:
  - template: Docker.gitlab-ci.yml

stages:
  - image
  - deploy

docker-build:
  stage: image
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: on_success
    - when: never

deploy:
  stage: deploy
  image: $CI_REGISTRY_IMAGE:latest
  id_tokens:
    AWS_OIDC_TOKEN:
      aud: sts.amazonaws.com
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: on_success
    - when: never
  variables:
    GIT_STRATEGY: "none"
  script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
    - echo "${AWS_OIDC_TOKEN}" > /tmp/web_identity_token
    - echo -e "[profile devops]\nrole_arn=${ROLE_ARN}\nweb_identity_token_file=/tmp/web_identity_token" > ~/.aws/config
    - pwd
    - ls -la
    - git pull
    - git remote add github git@github.com:thomasdstewart/tomsweb2.git
    - git push github HEAD:main
    - hugo --logLevel debug --minify
    - aws --profile devops s3 --delete sync public/. s3://$AWS_S3_BUCKET_NAME/
    - aws --profile devops cloudfront create-invalidation --distribution-id=$AWS_CLOUDFRONT_DISTRIBUTION_ID --paths '/*'
  cache:
    key: resources
    paths:
      - resources

#build:
#  stage: build
#  image: docker.io/alpine:latest
#  id_tokens:
#    AWS_OIDC_TOKEN:
#      aud: sts.amazonaws.com
#  script:
#    - apk add --no-cache aws-cli curl go git openssh 
#    - mkdir -p  ~/.aws ~/.ssh 
#    - eval $(ssh-agent -s)
#    - echo "$SSH_PRIVATE_KEY" | base64 -d | ssh-add -
#    - ssh-keyscan github.com >> ~/.ssh/known_hosts
#    - echo "${AWS_OIDC_TOKEN}" > /tmp/web_identity_token
#    - echo -e "[profile devops]\nrole_arn=${ROLE_ARN}\nweb_identity_token_file=/tmp/web_identity_token" > ~/.aws/config
#    - git remote add github git@github.com:thomasdstewart/tomsweb2.git
#    - git push github HEAD:main
#    - v=$(curl https://raw.githubusercontent.com/nunocoracao/blowfish/refs/heads/main/config.toml | awk '/max/{print $3}' | xargs);
#    - curl -L https://github.com/gohugoio/hugo/releases/download/v${v}/hugo_${v}_linux-amd64.tar.gz | tar xvzf - --directory /usr/local/bin hugo
#    - hugo --logLevel debug --minify
#    - aws --profile devops s3 --delete sync public/. s3://$AWS_S3_BUCKET_NAME/
#    - aws --profile devops cloudfront create-invalidation --distribution-id=$AWS_CLOUDFRONT_DISTRIBUTION_ID --paths '/*'
#  cache:
#    key: resources
#    paths:
#      - resources
