---
name: Build

on:
  push:
    branches: ["main"]
    paths: "*"
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 #v4.0.2
        with:
          role-to-assume: arn:aws:iam::597088038311:role/devops
          role-session-name: devops
          aws-region: ${{ env.AWS_REGION }}

      - name: Test
        run: |
          aws s3 ls tomsweb2-maekeofieshu

