---
name: Sync repo

on:
  push:
    branches: ["main"]
    paths: "*"
  workflow_dispatch:

jobs:
  build:
    name: Sync
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Sync repos
        id: sync-repos
        run: |
          eval $(ssh-agent -s)
          echo '${{ secrets.SSH_PRIVATE_KEY }}' | base64 -d | ssh-add -
          ssh-add -l
          mkdir -p ~/.ssh
          ssh-keyscan gitlab.com >> ~/.ssh/known_hosts
          git remote add github git@gitlab.com:thomasdstewart/tomsweb2.git
          echo "git pull"
          git pull
          echo "git push"
          git push github HEAD:main
